.list{
    width: 472px;
    list-style-type: none;
    padding: 0;
    height: 500px;
    overflow:auto;
}
.list::-webkit-scrollbar{
    width: 4px;
}
.list::-webkit-scrollbar-thumb{
    width: 4px;
    background: #031943;
    border-radius: 20px;
}
@media screen and (max-width: 498px){
    .list{
        width: 100%;
    }
}
